body
{
    margin:0;
    background-image:url(boje.jpg);
    background-size:100%;
}


.wrapper {
    background-color:white;
    margin-top:5%;
    margin-bottom:5%;
    margin-left:150px;
    margin-right:150px;
    
    border:solid;
    border-style:groove;
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
    box-shadow:grey 5px 10px 10px 5px;
}


ul {
    list-style-type: none;
    margin-left: 30px;
    padding: 0;
    overflow: hidden;
  
}

li {
    display:inline;
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}





h1 {
    margin-left:50px;
}

h2 {
    color:whitesmoke;
    margin-top:-25px;
}

p {
    margin-left:50px;
}


#tulear {
    margin-left:50px;
    border:solid;
    border-color:greenyellow;
}


.Tabela {
margin-left:50px;
margin-bottom:50px;
height:350px;
width:500px;
background-color:#FFFFFF;
border-collapse:collapse;border-width:1px;
border-color:#336600;
border-style:solid;
color:#009900;
}




.Tabela td, table.GeneratedTable {
border-width:1px;
border-color:yellowgreen;
border-style:solid;
padding:3px;
}

.Tabela thead {
background-color:lightgray;
}

#video {
    width:90%;
    height:500px;
    margin-left:50px;
    margin-bottom:50px;
    margin-right:50px;
}

#pas1, #pas2 {
    margin-left:50px;
}