body
{
margin:0 auto;
background-image:url(wall.jpg);
}

h1 {
    font-size:112px;
    color:aquamarine;
    font-family: 'Cookie', cursive;
    text-align:center;
}


h2 {
    color:white;
}


header {
    border-bottom:10px solid aquamarine;
}


p {
    text-align:justify;
    color:white;
}


.container {
    margin-left:100px;
    margin-right:500px;
    float:left;
}


.notre {
    position:absolute;
    float:right;
    border:5px solid aquamarine;
    border-bottom:10px solid aquamarine;
    margin-bottom:500px;
    margin-left:1690px;
}


a {
    color:blue;
}

#slika {
    height:100px;
    width:80px;
}

footer {
    bottom:0;
    text-align:center;
    width:100%;
    background-color:grey;
    position:fixed;
}

#text {
    text-align:center;
}

img {
    border:1px solid white;
}